:root {
  --primary-color: rgb(216, 12, 114);
  --primary-complementary-color: rgb(10, 0, 10);
  --primary-action-color: orange;
  --secondary-action-color: rgb(140, 58, 216);
  --text-color: beige;
}

body {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 1rem;
  padding: 0;
  color: var(--text-color);
  background-color: var(--primary-complementary-color);
}

h1,
h2,
h3 {
  color: var(--primary-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

article {
  max-width: 50rem;
  margin: 0 auto;
}

article + article {
  margin-top: 5rem;
}

footer {
  background: var(--primary-color);
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

* {
  box-sizing: border-box;
  position: relative;
}

a {
  text-decoration: none;
  color: var(--secondary-action-color);
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
